*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 360px;
    border-radius: 20px;
}

.card img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card .cb{
    padding: 40px;
    text-align: center;
}

.card h1{
    padding-bottom: 15px;
    color: hsl(223, 47%, 23%);
}

.card p{
    font-size: 14px;
    color:  hsl(224, 23%, 55%);
    font-weight: lighter;
    line-height: 25px;
}

.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 80%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin-bottom: 20px;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.plan img{
    width: 20%;
    margin-right: 5px;
}

.plan h3{
    font-size: 14px;
    color: hsl(223, 47%, 23%);
    position: relative;
    bottom: 5px;
}

.plan p{
    font-size: 12px;
    color: hsl(224, 23%, 55%);
    position: relative;
    right: 90px;
    top: 15px;
}

.plan-change{
    font-size: 13px;
}

a:hover{
    cursor: pointer;
    color: rgb(217, 174, 241);
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    width: 80%;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.submit:hover{
    cursor: pointer;
    background-color: rgb(217, 174, 241);
}

.cancel{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: hsl(224, 23%, 55%);
}

.cancel:hover{
    color: black;
}

.attribution{
    margin-top: 20px;
    font-size: 15px;
}
